* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "CommitMono Nerd Font", monospace;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(24, 24, 37, 0); /* Transparent background */
  color: #cdd6f4;
}

/* Individual Pill Styling */
#workspaces,
#clock,
#pulseaudio,
#network,
#backlight,
#battery,
#custom-power {
  background-color: #1e1e2e;
  padding: 0px 15px;
  margin: 5px 3px;
  border-radius: 10px; /* Rounded pill look */
}

/* Specific Colors to match your image */
#workspaces button.active {
  color: #89b4fa; /* Blue for active Pac-Man */
}

#pulseaudio {
  color: #89dceb;
}

#network {
  color: #a6e3a1;
}

#backlight {
  color: #f9e2af;
}

#battery {
  color: #f38ba8;
}

#clock {
  color: #cba6f7;
}

#custom-power {
  color: #f2cdcd;
}